 * {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0;
 }

 body {
     background-color: #dddddd;
     width: 100%;
 }

 header {
     display: flex;
     background-color: #555555;
     color: #e7e7e7;
     box-shadow: 0 6px 3px rgba(57, 63, 72, 0.3);
     height: 90px;
     width: 100%;
 }

 .sticky {
     position: sticky;
     top: 0;
     width: 100%;
 }

 .Logo {
     display: flex;
     margin-top: auto;
     margin-bottom: auto;
     justify-content: center;
     align-items: center;
 }

 h2 {
     display: flex;
     font-size: 30px;
     padding: 10px;
 }

 .name {
     display: flex;
     align-items: center;
     height: 120px;
     margin-top: 25px;
 }

 .links {
     display: flex;
     flex: 0 1 300px;
     justify-content: space-around;
     list-style-type: none;
     margin-left: auto;
     margin-right: 50px;
     flex-direction: row;
     align-items: center;
     font-size: 20px;
     text-decoration: none;
     color: inherit;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 li {
     margin-left: 20px;
 }

 main {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 88%;
     margin: 0 auto;
     margin-left: 100px;
     margin-right: 100px;
 }

 img {
     height: 60px;
     margin-top: 5px;
     margin-left: 100px;
 }

 .about {
     display: flex;
     word-wrap: normal;
     /* width: 1000px; */
     line-height: 25px;
     border-top-width: 2px;
     border-top-style: solid;
     padding: 5px;
     word-spacing: 4px;
     font-size: 20px;
     height: auto;
 }

 .family {
     min-height: 175px;
     max-height: 175px;
     margin-right: 30px;
 }

 .main-pic {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

 }

 .second-pics {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 section>div {
     flex: 0 0 90%;
 }


 .box {
     display: flex;
     min-height: 400px;
     max-height: 400px;
     flex-basis: calc(50% - 20px);
     background-size: cover;
     margin: 10px;
 }

 .CS-main {
     /* min-height: 500px; */
     max-width: 100%;
     max-height: auto;
     background-image: url('images/CS.jpeg');
     background-size: 100%;
 }

 .CS-1 {
     background-image: url('https://img.freepik.com/free-vector/neon-style-coming-soon-glowing-background-design_1017-25516.jpg?w=2000');
     min-width: 400px;
 }

 .CS-2 {
     background-image: url('https://img.freepik.com/free-vector/neon-style-coming-soon-glowing-background-design_1017-25516.jpg?w=2000');
     min-width: 400px;
 }

 .CS-3 {
     background-image: url('https://img.freepik.com/free-vector/neon-style-coming-soon-glowing-background-design_1017-25516.jpg?w=2000');
     min-width: 400px;
 }

 .CS-4 {
     background-image: url('https://img.freepik.com/free-vector/neon-style-coming-soon-glowing-background-design_1017-25516.jpg?w=2000');
     min-width: 400px;
 }

 footer {
     display: flex;
     background-color: #555555;
     margin-top: auto;
     height: 70px;
     color: #e7e7e7;
 }

 .footer-text {
     margin-left: 100px;
     font-size: 20px;
 }

 .contact {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
 }

 @media screen {
     .name {
         max-width: 100%;
     }

     .header {
         max-width: 100%;
     }
 }